.container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.video {
    /* width: 100%; */
    height: 50vh;
    background-color: black;
    position: relative;
    overflow: hidden;
}

.linkVideo {
    font-size: 0.8em;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}